<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Game Station - a Django media center for retro gaming{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ settings.description }}{% endblock %}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

        <script src="{{ STATIC_URL }}js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        {% block more_header %}
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Game Station</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% for item in menus.main_menu %}
                            <li{% if item.is_active %} class="active"{% endif %}><a href="{{ item.url }}">{{ item.nav_title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

        {% if breadcrumbs %}
            {% include 'snippets/breadcrumb.html' %}
        {% endif %}
        <div class="row" id="main">
            <div class="span3">
            {% block sidebar %}
                {% include 'sidebar.html' %}
            {% endblock %}
            </div>
            <div class="span8">
            {% block content %}
            {% endblock %}
            </div>
        </div>


            <footer class="row">
                <p>Django Game Station - 2014 - <a href="https://bitbucket.org/tominardi/django-game-center">Please visit project's site.</a>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.backstretch.min.js"></script>
        {% if specific_background %}
        <script type="text/javascript">
            window.specificBackground = "{{ specific_background }}";
        </script>
        {% endif %}

        <script src="{{ STATIC_URL }}js/app.main.js"></script>
        {% block more_js %}
        {% endblock %}
    </body>
</html>
