{% extends 'base.html' %}

{% block content %}
<h1>List of the games</h1>
<ul>
{% for game in games %}
<li>
    <h2><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></h2>
    <p>
        <a href="{{ game.get_absolute_url }}">
            {% if game.image %}
                <img src="{{ game.image.url }}" alt="{{ game.name }}" />
            {% else %}
                <img src="{{ STATIC_URL }}img/default.jpg" alt="{{ game.name }}" />
            {% endif %}
        </a>
    </p>
</li>
{% endfor %}
</ul>
{% endblock %}
