{% if engine %}
<div class="engine">
<h3>{{ engine.name|upper}}</h3>
{% if engine.image %}
    <img src="{{ engine.image.url }}" alt="{{ engine.name }}" />
{% else %}
    <img src="{{ STATIC_URL }}img/default.jpg" alt="{{ engine.name }}" />
{% endif %}
</div>
{% endif %}

{% if engines %}
<h3>Engines</h3>
<ul class="engine-list">
{% for engine in engines %}
    <li><a href="{{ engine.get_absolute_url }}">{{ engine }}</a></li>
{% endfor %}
</ul>
{% endif %}
