<div class="row">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li{% if forloop.last %} class="active"{% endif %}>{% if breadcrumb.url %}<a href="{{ breadcrumb.url }}">{% else %}<span>{% endif %}{{ breadcrumb.name }}{% if breadcrumb.url %}</a>{% else %}</span>{% endif %}{% if not forloop.last %}<span class="divider">/</span>{% endif %}</li>
        {% endfor %}
    </ul>
</div>