

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #fff;
}

.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: solid 1px #333;
}
.breadcrumb>li {
    display: inline-block;
    text-shadow: none;
}

.row {
    padding: 0 12px;
    background: rgba(0,0,0,0.75);
}

/* Responsive */
@media (max-width: 767px) {
    body {
        padding-top: 0px;
    }
}







